.card {
  width: 190px;
  aspect-ratio: 1 / 0.8;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  transition:
    background-color 0.2s ease,
    color 0.2s ease,
    transform 0.2s ease,
    box-shadow 0.2s ease;
}

.card:hover {
  transform: scale(1.08);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.card h3 {
  margin: 0;
}

.card-content {
  display: flex;
  flex-direction: column;
  gap: 6px;
  font-weight: 800;
  align-items: center;
  color: #20409a;
}

.card-content p {
  margin: 0;
}
